
ul{

margin-left: 0px;
padding-left: 0px;

}
#wrapper{

  height: 1500px;
  width: 1200px;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
}
header{
  width: 1200px;
  height: 100px;
  background-color: black;
  text-align: center;
  font-size: 35px;
  color: white;

}
nav{
  width: 1000;
  height: 100;
  background-color: red;
}
#center{
  display:flex;
}
main{
  height: 1300px;
  width: 940px;
  background-color: white;

}
aside{
  height: 1300px;
  width: 130px;
  background-color: grey;


}



footer{
height: 200px;
width: 1200px;
background-color: black;



}



.button {
background-color: #d1e0e0;
border: none;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 10px;
cursor: pointer;
}

.startbutton{
  background-color: #d1e0e0;
  border: none;
  color: black;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;

}

.chassiebutton{
  background-color: #d1e0e0;
  border: none;
  color: black;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
}

.kontktabutton{
  background-color: #d1e0e0;
  border: none;
  color: black;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;

}

img {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  width: auto;
  height: auto;
  float: right;
}
h4{
  text-align: left;
  margin-top: 30px
}
h1{
  text-align: center;
}


a:hover, a:active {
  background-color: red;
}
